<!DOCTYPE html>
<html>
  <head>
    <title>login_page</title> 
    {% include 'bootstrap.html' %}    
  </head>
  <body>   
      {% include 'navbar.html' %} 
      {% include 'banner.html' %}
      <div class="container">
        <h1 class="text-center mt-2 mb-4">Job Openings</h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-5">
      <p class="lead">Successful engineers know how to use the right programming languages, platforms, and architectures to develop everything from computer games to network control systems. In addition to building their own systems, software engineers also test, improve, and maintain software built by other engineers.</p>
        </div>
        <div class="d-none d-md-block col-7">
          <img src="/static/peopleworking.jpg" style="height:320px; border-radius:40px">
        </div>  
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobfile.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a href=mailto:jobswebsite@gmail.com?subject=for%20queries%20contact%20us&body=Name%20%3A%3Center%20your%20name%20here%3E%0D%0AQuery%3A%20%3Center%20your%20query%3E%0D%0A class="btn btn-primary">Contact us</a>
      </div>
      </div>
    {% include 'footer.html' %}
  </body>
</html>